greenbot:
  nick: "greenbot"
  server: "irc.example.com"
  options:
    floodProtection: true
    floodProtectionDelay: 1000
    channels: [
      "#yourchannel"
    ]
  pluginsDir: "/Users/example/my-greenbot-plugins"
  plugins: [
    "ignore",
    "echo"
  ]

global:
  prefix: "!"

ignore:
  nicks: [
    /.+bot/i
    "ChanServ"
  ]
